.header {
    background: url(img/foto.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
   
   
   
  
  
  }
  
  .header .navbar {
    background-color: transparent !important;
  }
  
  .contenedor {
    margin:150px 100px 100px;
    text-align: center;
  }
  
  .h1 {
    text-shadow:1px 2px white;
  }
  .h2 {
    text-shadow:1px 2px white;
  }
  .contenedorlogin {
  
    background-color:#00a5bc;
    width:30%;
    height:80%;
    border:150px 150px 150px;
    text-align: center;
  }